[include mainsail.cfg]
[include sovol-macros.cfg]
[include eddy.cfg]
[include timelapse.cfg]
[include GP3D_Macro.cfg]
[include test_speed.cfg]
[include KAMP_Settings.cfg]
[include sb-dummy.cfg]
[include new-macros.cfg]

# IF YOU ARE USING THE SCREEN THAT COMES WITH THE SV08
[include options/lcd/*.cfg]
# IF YOU HAVE KLIPPERSCREEN / AN HDMI DISPLAY ATTACHED TO YOUR PRINTER
# [include options/hdmi/*.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD5054747393934692057-if00
restart_method: command

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_50FF69068367515546441367-if00
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 20000 # input shaping wants < 10k, printer can do 40k
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0

[force_move]
enable_force_move: true

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_x: virtual_endstop
position_min: 0
position_endstop: 355
position_max: 355
homing_speed: 30
homing_retract_dist: 0
homing_positive_dir: True
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True
run_current: 1.1
#hold_current: 1.2
sense_resistor: 0.150
stealthchop_threshold: 0
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_y: virtual_endstop
position_min: 0
position_endstop: 364
position_max: 364
homing_speed: 30
homing_retract_dist: 0
homing_positive_dir: true
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True
run_current: 1.1
#hold_current: 1.2
sense_resistor: 0.150
stealthchop_threshold: 0
uart_address:3
driver_sgthrs: 70
diag_pin: PE13

[stepper_z] #motherboard：Z3
step_pin:PC0
dir_pin:PE5
enable_pin:!PC1
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 347
position_min: -5
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6
interpolate: true
run_current: 0.55
#hold_current: 0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3
dir_pin:!PD1
enable_pin:!PD4
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z1]
uart_pin:PD2
interpolate: true
run_current:  0.55
#hold_current: 0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5
enable_pin:!PB5
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z2]
uart_pin:PD6
interpolate: true
run_current: 0.55
#hold_current: 0.58
sense_resistor: 0.150
stealthchop_threshold: 999999
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11
dir_pin:!PD9
enable_pin:!PD12
rotation_distance: 40
gear_ratio: 80:12
microsteps: 16

[tmc2209 stepper_z3]
uart_pin:PD10
interpolate: true
run_current: 0.55
#hold_current: 0.58
sense_resistor: 0.150
uart_address:3
stealthchop_threshold: 999999

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8
dir_pin: extra_mcu:PB8
enable_pin:!extra_mcu: PB11
#rotation_distance: 6.5  # sovol original
rotation_distance: 6.738
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 150
max_extrude_cross_section: 5
heater_pin:extra_mcu:PB9
sensor_type:my_thermistor_e
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5
min_temp: 5
max_temp: 305
max_power: 1.0
min_extrude_temp: 5
control : pid
pid_kp : 33.838
pid_ki : 5.223
pid_kd : 47.752
pressure_advance: 0.025
pressure_advance_smooth_time: 0.035

[tmc2209 extruder]
uart_pin: extra_mcu:PB10
interpolate: True
run_current: 0.8
#hold_current: 0.75
uart_address:3
sense_resistor: 0.150

[verify_heater extruder]
max_error: 120
check_gain_time:30
hysteresis: 5
heating_gain: 2

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor
sensor_pin: PC5
max_power: 1.0
min_temp: 5
max_temp: 105
control : pid
pid_kp : 73.571
pid_ki : 1.820
pid_kd : 783.849

[verify_heater heater_bed]
max_error: 120
check_gain_time:40
hysteresis: 5
heating_gain: 2

# this was the BL-Touch on the extra MCU
##[probe]
##pin: extra_mcu:PB6
##x_offset: -17
##y_offset: 10
###z_offset : 0
##speed: 10.0 # was 5.0?
##samples: 3 # was 2
##sample_retract_dist: 5.0 # was 2.0
##lift_speed: 25 # was 50
##samples_result: median # was average
##samples_tolerance: 0.0125 # was 0.016
##samples_tolerance_retries: 10 # was 2

[probe_pressure]
pin: ^!PE12
x_offset: 0
y_offset: 0
z_offset : 0
speed: 1.0

##[z_offset_calibration]
##center_xy_position:191,165
##endstop_xy_position:289,361
##z_hop: 10
##z_hop_speed: 15

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 400
horizontal_move_z: 5 # orig 10
retry_tolerance: 0.02 # orig 0.05 # someone had .008 which is nuts?
retries: 10 # orig 5
max_adjust: 10 # orig 30

#[bed_mesh]
#speed: 500
#horizontal_move_z: 5
#mesh_min: 10,10
#mesh_max: 333,340
#probe_count: 9,9
#algorithm: bicubic
#bicubic_tension: 0.4
#split_delta_z: 0.016
#mesh_pps:3,3
#adaptive_margin: 5
#fade_start: 0
#fade_end: 10
#fade_target: 0

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[controller_fan MCU_fan]
pin: PA1
max_power: 1
kick_start_time: 0.5
fan_speed: 1
idle_timeout: 300
heater: extruder, heater_bed
stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

[heater_fan hotend_fan]
pin: extra_mcu:PA6
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]
resolution: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[firmware_retraction]

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
#accel_per_hz:50
min_freq:1
max_freq:120
#max_smoothing:0.2
#hz_per_sec:0.5

[input_shaper]
#damping_ratio_x: 0.001
#damping_ratio_y: 0.001
shaper_type_x = mzv
shaper_freq_x = 57.8
shaper_type_y = mzv
shaper_freq_y = 42

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#[homing_override]
#gcode:
#   {% if not 'Z' in params and not 'Y' in params and 'X' in params %}
#     G28 X
#     G0 X191 F3600
#   {% elif not 'Z' in params and not 'X' in params and 'Y' in params %}
#     G28 Y
#     G0 Y165  F3600
#   {% elif not 'Z' in params and 'X' in params and 'Y' in params %}
#     G28 Y
#     G0 Y165  F3600
#     G4 P2000
#     G28 X
#     G0 X191  F3600
#   {% elif 'Z' in params and not 'X' in params and not 'Y' in params %}
#     G90
#     G0 X191 Y165 F3600
#     G28 Z
#     G0  Z10 F600
#   {% else %}
#     G90
#     G0 Z5 F300
#     G28 Y
#     G0 Y165  F3600
#     G4 P2000
#     G28 X
#     G0 X191  F3600
#     G90
#     G0  X191 Y165 F3600
#     G28 Z
#     G0  Z10 F600
#   {% endif %}
#axes: xyz
#set_position_z: 0

[include moonraker_obico_macros.cfg]

# was 2.492 (automatic)
# was 2.055 (manual)
# was 1.888 -- got some good prints out of this with orange ASA, but then it's terrible
# automatic probe gave me 2.54 after the 1.888
# # manual probing gave me 2.276
## [probe]
## z_offset = 2.246
##

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 51.609277
#*#
#*# [probe_eddy_current btt_eddy]
#*# calibrate =
#*# 	0.050625:3172569.335,0.090000:3172246.388,0.129375:3171918.914,
#*# 	0.170625:3171549.658,0.210000:3171230.087,0.249375:3170932.386,
#*# 	0.290625:3170588.352,0.330000:3170282.502,0.369375:3169982.602,
#*# 	0.410625:3169667.395,0.450000:3169386.381,0.489375:3169088.387,
#*# 	0.530625:3168788.679,0.570000:3168517.578,0.609375:3168236.286,
#*# 	0.650625:3167959.616,0.690000:3167687.064,0.729375:3167403.587,
#*# 	0.770625:3167111.376,0.810000:3166893.111,0.849375:3166658.124,
#*# 	0.890625:3166398.641,0.930000:3166124.844,0.969375:3165890.142,
#*# 	1.010625:3165646.484,1.050000:3165424.234,1.089375:3165214.076,
#*# 	1.130625:3164955.740,1.170000:3164724.877,1.209375:3164534.131,
#*# 	1.250625:3164302.504,1.290000:3164081.771,1.329375:3163888.652,
#*# 	1.370625:3163663.120,1.410000:3163452.920,1.449375:3163267.251,
#*# 	1.490625:3163069.373,1.530000:3162870.575,1.569375:3162676.148,
#*# 	1.610625:3162510.770,1.650000:3162295.777,1.689375:3162128.809,
#*# 	1.730625:3161931.677,1.770000:3161764.070,1.809375:3161611.597,
#*# 	1.850625:3161419.101,1.890000:3161245.279,1.929375:3161089.611,
#*# 	1.970625:3160911.729,2.010000:3160740.135,2.049375:3160611.413,
#*# 	2.090625:3160443.034,2.130000:3160276.689,2.169375:3160123.760,
#*# 	2.210625:3159973.317,2.250000:3159830.734,2.289375:3159691.434,
#*# 	2.330625:3159548.304,2.370000:3159403.924,2.409375:3159260.899,
#*# 	2.450625:3159132.902,2.490000:3158991.791,2.529375:3158858.718,
#*# 	2.570625:3158725.903,2.610000:3158593.453,2.649375:3158452.101,
#*# 	2.690625:3158324.674,2.730000:3158190.510,2.769375:3158090.057,
#*# 	2.810625:3157954.831,2.850000:3157823.518,2.889375:3157712.143,
#*# 	2.930625:3157587.735,2.970000:3157456.010,3.009375:3157358.869,
#*# 	3.050625:3157259.144,3.090000:3157135.151,3.129375:3157042.801,
#*# 	3.170625:3156919.602,3.210000:3156816.954,3.249375:3156718.975,
#*# 	3.290625:3156612.280,3.330000:3156513.035,3.369375:3156425.432,
#*# 	3.410625:3156304.121,3.450000:3156205.158,3.489375:3156114.265,
#*# 	3.530625:3156023.338,3.570000:3155919.886,3.609375:3155813.374,
#*# 	3.650625:3155735.607,3.690000:3155642.975,3.729375:3155551.766,
#*# 	3.770625:3155474.752,3.810000:3155377.069,3.849375:3155295.553,
#*# 	3.890625:3155203.514,3.930000:3155123.427,3.969375:3155051.051,
#*# 	4.010625:3154949.942,4.050000:3154882.068
