[include mainsail.cfg]
#[include helpers.cfg]
[include sovol-macros.cfg]
[include timelapse.cfg]
[include GP3D_Macro.cfg]
[include test_speed.cfg]
[include KAMP_Settings.cfg]
[include status-macros.cfg]
[include new-macros.cfg]
[include steppers.cfg]
#[include carto.cfg]
[include eddy.cfg]
[include fans-and-temp-sensors.cfg]
[include moonraker_obico_macros.cfg]

[include options/lcd/*.cfg]
# [include options/hdmi/*.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD5054747393934692057-if00
restart_method: command

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_50FF69068367515546441367-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 700
# printer max 40k
# input shaping says <= 8700 for x, <= 4100 for y
max_accel: 20000
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0
autosave_path: ../backup

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: true

[extruder]
rotation_distance: 6.738 #6.745 #6.5
nozzle_diameter: 0.400
filament_diameter: 1.75
# for purge
max_extrude_cross_section: 6

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[verify_heater extruder]
max_error: 120
check_gain_time:30
hysteresis: 5
heating_gain: 2

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor
sensor_pin: PC5
max_power: 1.0
min_temp: 5
max_temp: 105
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]
max_error: 120
check_gain_time:40
hysteresis: 5
heating_gain: 2

[probe_pressure]
pin: ^!PE12
x_offset: 0
y_offset: 0
z_offset : 0
speed: 1.0

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 400
horizontal_move_z: 2.0 #3 #5 # orig 10
retry_tolerance: 0.02 # orig 0.05 # someone had .008 which is nuts?
retries: 10 # orig 5
max_adjust: 10 # orig 30

[gcode_macro CENTER]
gcode:
    G90 ; set absolute positioning
    G0 X177.5 Y177.5 F6000 ; return to center
    M400

[homing_override]
gcode:
  # Move 5 up, just in case (this is our safety zhop, this needs 'set_position_z: 0' below)
  STATUS_HOMING
  G91 ; set relative positioning
  G0 Z5 F1000 ; 5 up zhop
  {% if not rawparams or 'Y' in rawparams|upper %}
    {action_respond_info('Homing Y')}
    G28 Y
    ;;G91 ; set relative positioning
    ;;G0 Y-30 F600 ; move a bit out
    ;;G28 Y ; then re-home Y, just in case we hit the motor klunk
    G90 ; set absolute positioning
    G0 Y177.5 F6000 ; return to center
    M400 ; Wait for move to finish
  {% endif %}
  {% if not rawparams or 'X' in rawparams|upper %}
    {action_respond_info('Homing X')}
    G28 X
    G90 ; set absolute positioning
    G0 X177.5 F6000 ; return to center
    M400 ; Wait for move to finish
  {% endif %}
  {% if not rawparams or 'Z' in rawparams|upper %}
    {action_respond_info('Homing Z')}
    G90 ; set absolute positioning
    G0 X177.5 Y177.5 F6000 ; return to center, please add your offsets manually if you want to
    G28 Z ; do the coarse home
    G90 ; set absolute positioning
    G0 Z2 F1000 ; to 2mm ; TODO -- do we need this?
    G4 S1 ; chill for a sec
    M400 ; Wait for move to finish
    PROBE_EDDY_NG_PROBE_STATIC
    SET_Z_FROM_PROBE
    G0 Z5 F1000 ; to 5mm as home
  {% endif %}
  G90 ; set absolute positioning
  STATUS_READY
axes: xyz
set_position_z: 0 # This forces the z position to be at 0 when we start homing, so we can move the Z up before homing.

[gcode_arcs]
resolution: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[pause_resume]

[exclude_object]

[firmware_retraction]

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
#accel_per_hz:50
min_freq:1
max_freq:120
#max_smoothing:0.2
#hz_per_sec:0.5

[input_shaper]
#damping_ratio_x: 0.001
#damping_ratio_y: 0.001
shaper_type_x = mzv
shaper_freq_x = 54.2
shaper_type_y = mzv
shaper_freq_y = 37

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

# 	10.050000:3151869.395,15.050156:3149390.215,20.049844:3148564.754,
# 	25.050000:3148201.192

# was 2.492 (automatic)
# was 2.055 (manual)
# was 1.888 -- got some good prints out of this with orange ASA, but then it's terrible
# automatic probe gave me 2.54 after the 1.888
# # manual probing gave me 2.276
## [probe]
## z_offset = 2.246
##

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.832
#*# pid_ki = 4.315
#*# pid_kd = 44.878
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.349
#*# pid_ki = 1.948
#*# pid_kd = 690.394
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibration_15 = gASVqAoAAAAAAAB9lCiMAWaUXZQoR0FIHchDsi0OR0FIHo10+iGCR0FIH1KmQhX3R0FIIBfXigprR0FIIN0I0f7fR0FIIaI6GfNTR0FIImdrYefIR0FIIyycqdw8R0FII/HN8dCwR0FIJLb/OcUlR0FIJXwwgbmZR0FIJkFhya4NR0FIJwaTEaKBR0FIJ8vEWZb2R0FIKJD1oYtqR0FIKVYm6X/eR0FIKhtYMXRTR0FIKuCJeWjHR0FIK6W6wV07R0FILGrsCVGvR0FILTAdUUYkR0FILfVOmTqYR0FILrp/4S8MR0FIL3+xKSOAR0FIMETicRf1R0FIMQoTuQxpR0FIMc9FAQDdR0FIMpR2SPVSR0FIM1mnkOnGR0FINB7Y2N46R0FINOQKINKuR0FINak7aMcjR0FINm5ssLuXR0FINzOd+LALR0FIN/jPQKSAR0FIOL4AiJj0R0FIOYMx0I1oR0FIOkhjGIHcR0FIOw2UYHZRR0FIO9LFqGrFR0FIPJf28F85R0FIPV0oOFOuR0FIPiJZgEgiR0FIPueKyDyWR0FIP6y8EDEKR0FIQHHtWCV/R0FIQTceoBnzR0FIQfxP6A5nR0FIQsGBMALcR0FIQ4ayd/dQR0FIREvjv+vER0FIRREVB+A4R0FIRdZGT9StR0FIRpt3l8khR0FIR2Co372VR0FISCXaJ7IKR0FISOsLb6Z+R0FISbA8t5ryR0FISnVt/49mR0FISzqfR4PbR0FIS//Qj3hPR0FITMUB12zDR0FITYozH2E3R0FITk9kZ1WsR0FITxSVr0ogR0FIT9nG9z6UR0FIUJ74PzMJR0FIUWQphyd9R0FIUilazxvxR0FIUu6MFxBlR0FIU7O9XwTaR0FIVHjupvlOR0FIVT4f7u3CR0FIVgNRNuI3R0FIVsiCftarR0FIV42zxssfR0FIWFLlDr+TR0FIWRgWVrQIR0FIWd1Hnqh8R0FIWqJ45pzwR0FIW2eqLpFlR0FIXCzbdoXZR0FIXPIMvnpNR0FIXbc+Bm7BR0FIXnxvTmM2R0FIX0GglleqR0FIYAbR3kweR0FIYMwDJkCTR0FIYZE0bjUHR0FIYlZltil7R0FIYxuW/h3vR0FIY+DIRhJkR0FIZKX5jgbYR0FIZWsq1ftMR0FIZjBcHe/AR0FIZvWNZeQ1R0FIZ7q+rdipR0FIaH/v9c0dR0FIaUUhPcGSR0FIagpShbYGR0FIas+Dzap6R0FIa5S1FZ7uR0FIbFnmXZNjR0FIbR8XpYfXR0FIbeRI7XxLR0FIbql6NXDAR0FIb26rfWU0R0FIcDPcxVmoR0FIcPkODU4cR0FIcb4/VUKRR0FIcoNwnTcFR0FIc0ih5St5R0FIdA3TLR/uR0FIdNMEdRRiR0FIdZg1vQjWR0FIdl1nBP1KR0FIdyKYTPG/R0FId+fJlOYzR0FIeKz63NqnR0FIeXIsJM8cR0FIejddbMOQR0FIevyOtLgER0FIe8G//Kx4R0FIfIbxRKDtR0FIfUwijJVhR0FIfhFT1InVR0FIftaFHH5KR0FIf5u2ZHK+R0FIgGDnrGcyR0FIgSYY9FumR0FIgetKPFAbR0FIgrB7hESPR0FIg3WszDkDR0FIhDreFC13R0FIhQAPXCHsR0FIhcVApBZgR0FIhopx7ArUR0FIh0+jM/9JR0FIiBTUe/O9R0FIiNoFw+gxR0FIiZ83C9ylR0FIimRoU9EaR0FIiymZm8WOR0FIi+7K47oCR0FIjLP8K653R0FIjXktc6LrR0FIjj5eu5dfR0FIjwOQA4vTR0FIj8jBS4BIR0FIkI3yk3S8ZYwBaJRdlChHQBPs5mZmZmZHQBOPUtyfiilHQBMmMgadfMRHQBLCO0b4/4NHQBJuoJjtVqZHQBIGtnrAVlhHQBGq++UXm85HQBFT0xPgRR1HQBD/kPgQTJ9HQBCtQJ2b3GNHQBBfNwzIrzlHQBAddwHtb/9HQA+hPdM/M4ZHQA8P3xexigpHQA6DoJ+vIwJHQA3/YWkKms5HQA19su2zoEdHQAz8qCO3efxHQAx4h3kZS29HQAv/XVG1HUdHQAuQr40Rz5NHQAsbnGaIU4VHQAq1CPSPZGhHQAo/cqeRUrNHQAnex5KerHxHQAlrwTJU31lHQAkFQXEnPM1HQAiZ2DXoIXNHQAg4ml1/v85HQAfWcYBFjChHQAdwfXZuDrBHQAcQi4BfRmlHQAa0Enn28wJHQAZbvVxVki9HQAYH8vSp1lxHQAWwfznZUWdHQAVbmYqiwxNHQAUFOexdpKFHQASt8EZgJiJHQARbhO0CEOVHQAQJLMjpjapHQAO+mT7/XKVHQANwIMu6vtxHQAMiX2yEwcBHQALaGg1BW95HQAKLF9oDLM9HQAJFIz0UFN1HQAH9GG6zAMNHQAGza2AAdZxHQAFxLg29zoBHQAEr6Cv2GMNHQADpsW4RzoBHQACpCVjC+ZZHQABoB0DEKspHQAAlGOKx22pHP//NbZjLbF5HP/9IlYtIcIpHP/7Su6Ux7o5HP/5VaJXXlzhHP/3eyOebr5xHP/1pVDuQpkdHP/z7AOr4+UhHP/yKkXKadtFHP/wUQxjgjedHP/uol3Zl4z9HP/s693Us/8lHP/rH6ivpr8JHP/pYoJcvrvZHP/nwAqglzg9HP/mKQK0ZJdpHP/kdkSo+m49HP/i04/XYQwdHP/hNqeoIex1HP/fkgmejHrdHP/d5o2bE+VdHP/cS5rl21LBHP/atTFGIs5BHP/ZMEInt5/ZHP/XpADFWrPBHP/WLEjeoOAZHP/UwFjsrtfBHP/TTq43wPlVHP/R3UNswkbxHP/QZOzQn+pFHP/O+rEAg0X5HP/NhQsmupWhHP/MG2gMnMgZHP/Kt2ICHwtZHP/JVIQjBExpHP/H8hzOesi1HP/Gpje3RQntHP/FTCjyXVO5HP/D/RHn+YWBHP/CrzNJsYRZHP/BUUVUzu0BHP+/80p3xG2FHP+9YMB6B9PlHP+61vpMZosRHP+4RXe2onhBHP+1xgrnHX8FHP+zVgcJxFpxHP+wwC9Qo+mZHP+uTZo+jqnRHP+r/h/noa8RHP+pcLCv6C2FHP+nGq6fvPWxHP+kwQD5vGoVHP+iPs/At1t9HP+f391flgYxHP+diuw1W3wVHP+bSriyseLdHP+Y0SbkuPS5HP+Wijm/833JHP+UIay1mNTZHP+R0iQQni7xHP+Pd6Ysg2qlHP+NJuYS7Mj5HP+KzYycBG6lHP+IbEu1wIw9HP+GMhmgsbs1HP+D07tjTLYxHP+Bnz4IrXmVHP9+hW2u432RHP96Hb1+9k7hHP91uCRWqL0FHP9xWB1OTyxlHP9s5yuOQNvlHP9og9RGOg5BHP9jw08qvIZhHP9fcj1jR7m1HP9bGd0EcPJxHP9W49Jvy+QlHP9SLXHjQs4xHP9N5xEhXqQBHP9JXnROPl+xHP9FA6i+cPzZHP9Atd+CywIVHP842otFh82lHP8wS2Wj6Mt1HP8n2eF0BMZRHP8fDbtplFU1HP8WvtYvfoe5HP8OKoQynurRHP8FbZcX4XuRHP76AMSSiHBZHP7pPU3nNi61HP7YaVEB8U6tHP7HtJYeqJrpHP6sQZWn0WJNHP6Jj1wo9cMBljAJkY5RLD3Uu
#*# calibrated_drive_currents = 15
#*# calibration_version = 3
